body {
    background-color: #1f1f1f;
    color: #f1f1f1;
    padding: 0px;
    margin: 0px;
}

/* =========== NAVIGATION ============== */

nav {
    padding: 5px 32px;
    background-color: #3f3f3f;
    display: flex;
    align-items: center;
}

.container {
    padding: 20px;
}

.menu {
    gap: 20px;
}

.spacer {
    flex: 1;
}

a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

a:hover {
    color: skyblue;
}
/* =========== BOITE HOVER ============== */

.hover {
    padding: 10px;
    width: 300px;
    border-radius: 15px;
    background-color: #3f3f3f;
    transition: background-color 0.5s ease; /* Transition de la couleur d'arriere plan */
}

.hover:hover {
    background-color: aqua; /* couleur d'arriere plan */
    color: #1f1f1f;
}

/* =========== BOITE CHECKED ============== */

.checkbox {
    transition: outline 0.5s ease;
}

.checkbox:checked {
    outline: 6px solid aqua;
}

/* =========== INPUT ============== */
#text {
    transition: outline 0.5s ease;
    transition: background 5s ease;
    transition: color 0.5s ease;
}

#text:focus {
    background-color: red;
    color: white;
    outline: 10px solid red;
}

:where(ol, ul) {
    background-color: red;
}

/* =========== MOBILE ============== */

/* Mobile Responsive */

@media (min-width:320px) {
    .menu { display: none; }
    .menu-mobile { display: block; }
}

@media (min-width:480px) {
    .menu { display: none; }
    .menu-mobile { display: block; }
}


@media (min-width:600px) {
    .menu { display: none; }
    .menu-mobile { display: block; }
}

@media (min-width:801px) {
    .menu { display: none; }
    .menu-mobile { display: block; }
}

@media (min-width:1025px) { 
    .menu { display: flex; }
    .menu-mobile { display: none; }
}

@media (min-width:1281px) {
    .menu { display: flex; }
    .menu-mobile { display: none; }
}
